a.card__button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
  transition: all 0.2s;
}
a.card__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
@media all and (max-width: 30em) {
  a.card__button {
    display: block;
    margin: 0.4em auto;
  }
}
.blog__card {
  padding: 0 40px;
  width: 45%;
  border: 1px solid #ccc;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* On mouse-over, add a deeper shadow */
.blog__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

small {
  display: inline-block;
  margin: 20px 0 10px 0;
  padding: 4px;
  border-radius: 7px;
  width: 60px;
  text-align: center;
  font-size: 0.9rem;
}

.crimson {
  background-color: crimson;
}

.darkcyan {
  background-color: darkcyan;
}
.darkgreen {
  background-color: darkgreen;
}

h2 {
  margin-bottom: 0;
}

.date {
  margin-top: 0;
  color: darkgrey;
  font-size: 0.7rem;
}

.some-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {
  .blog__card {
    width: 90%;
  }
}
