ul {
    padding: 5px 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  ul li {
    font-size: 20px;
  }
  
  ul li a {
    color: #ccc;
  }
  
  ul li a:hover {
    color: blueviolet;
  }