@import "./css/all.css";
@import "./css/cards.css";
@import "./css/header.css";

* {
  box-sizing: border-box;
}

.main__hero {
  text-align: center;
}

#section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
